Hi
<br>
I am a bot that checks files (including media) contained in messages and links to malicious content
<br>
<br>
These are my commands:
<br>
"/scan" - After entering the command before sending a message,
right-click on the message you want to scan, then click “Reply” and send the message.
<br>
<br>
The command will not work if the bot is in stream scanning mode because it works automatically if there is a
link or file in the message (this option is configured by the administrator)